auth.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="wscalc1" targetNamespace="http://10.100.74.71:8000/wscalc1" xmlns="http://10.100.74.71:8000/wscalc1" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <wsdl:message name="authRequest">
    <wsdl:part name="name" type="xs:string"/>
    <wsdl:part name="pass" type="xs:string"/>
  </wsdl:message>
  <wsdl:message name="otpRequest">
    <wsdl:part name="token" type="xs:string"/>
    <wsdl:part name="otp" type="xs:string"/>
  </wsdl:message>
  <wsdl:message name="otpResponse">
    <wsdl:part name="otpres" type="xs:string"/>
  </wsdl:message>
  <wsdl:message name="authResponse">
    <wsdl:part name="xs:authres" type="xs:string"/>
    <wsdl:part name="token" type="xs:string"/>
  </wsdl:message>
  <wsdl:portType name="authP">
    <wsdl:operation name="auth">
      <wsdl:input message="authRequest"/>
      <wsdl:output message="authResponse"/>
    </wsdl:operation>
    <wsdl:operation name="otp">
      <wsdl:input message="otpRequest"/>
      <wsdl:output message="otpResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="authB" type="authP">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="auth">
      <soap:operation soapAction="auth"/>
      <wsdl:input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="otp">
      <soap:operation soapAction="otp"/>
      <wsdl:input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ws">
    <wsdl:port binding="authB" name="authWS">
      <soap:address location="http://10.100.74.71:8001/wscalc1"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>

